#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9 {
    display: none;
}

body {
    background-image: radial-gradient(circle at 50% -20.71%, #ff7f85 0, #ff748c 8.33%, #ff6994 16.67%, #ff5d9c 25%, #ff52a4 33.33%, #ff47ad 41.67%, #f23cb5 50%, #e234be 58.33%, #cf32c8 66.67%, #b935d2 75%, #9f3bdb 83.33%, #7e42e5 91.67%, #514aed 100%);
    font-family: "Audiowide", sans-serif;
}

h3 {
    font-family: "Audiowide", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
    text-align: justify;
}

#texto-footer {
    text-align: right;
    margin: 10px;
}

.img-windows {
    width: 100%;
    height: 60%;
    padding: 10%;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
